.chat-list {
  max-height: 400px;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 38px;

  &-inner {
    height: 100%;

    .ant-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-block: 0;
    }
  }
}